/* Initial settings */
* {
	--scrollbar-size: 10px;
	user-select: none; -webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	/* content-visibility: auto; */
}
input, textarea { user-select: initial; -webkit-user-select: initial; }
*:focus { outline: none; }
*:target { background-image: linear-gradient(to right, rgba(106, 238, 193, 0.375), rgba(175, 99, 224, 0.25), rgba(106, 238, 193, 0.375)); }
:not(:hover):active { cursor: not-allowed; pointer-events: none; }
input[type="password"]::-ms-reveal { display: none; }
/* Scrollbar */
::-webkit-scrollbar { width: var(--scrollbar-size); height: var(--scrollbar-size); }
::-webkit-scrollbar-track { background: var(--fade-black-7); box-shadow: inset 0 0 5px var(--fade-black-7); }
::-webkit-scrollbar-thumb { background: var(--fade-black-6); }
::-webkit-scrollbar-thumb:active { background: var(--fade-black-5); }
.hscroll { -ms-overflow-style: none !important; } .hscroll::-webkit-scrollbar { display: none !important; }
.sscroll:hover { -ms-overflow-style: block !important; } .sscroll:hover::-webkit-scrollbar { display: block !important; }
.slider { overflow-x: auto !important; /* overflow-y: auto; */ }
.slider::-webkit-scrollbar { width: calc(var(--scrollbar-size) * 0.75); height: calc(var(--scrollbar-size) * 0.75); }
.slider::-webkit-scrollbar-track { background: transparent !important; box-shadow: none !important; }
.slider::-webkit-scrollbar-thumb { background: var(--fade-black-7) !important; border-radius: calc(var(--scrollbar-size) * 0.75 / 2) !important; }
.slider::-webkit-scrollbar-thumb:active { background: var(--fade-black-6) !important; }
/* Defaults fixes */
[disabled], .disabled {
	opacity: 0.75; filter: opacity(0.75);
	pointer-events: none;
}
[hidden], .hidden {
	opacity: 0;
	filter: opacity(0);
	display: none;
	visibility: hidden;
}
[data-title]:not([data-title=""]) { position: relative; }
.center, main [center], main center {
	margin: auto; padding: auto;
	justify-content: center; place-content: center;
	align-items: center; align-content: center; align-self: center;
	text-align: center; vertical-align: middle; -webkit-box-align: center;
	background-position: center;
}
.select-all, var { user-select: all; -webkit-user-select: all; }
details > summary { cursor: pointer; }
/* Texts */
.txtoe, ul.mnubx a li { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
/* Images */
main :not(a) img[src^="/"][src$=".png"], main :not(a) img[src^="/"][src$=".jpg"], main :not(a) img[src^="/"][src$=".jpeg"], main :not(a) img[src^="/"][src$=".gif"] { cursor: cell; }
/* Glass morphism */
.glass {
	background: var(--fade-white-7) !important;
	box-shadow: 0px 12.5px var(--shd-huge) var(--fade-white-5);
	-webkit-box-shadow: 0px 12.5px var(--shd-huge) var(--fade-white-5);
	backdrop-filter: blur(10px);
	border: 1.25px solid var(--fade-white-7);
	border-top: 1.25px solid var(--fade-white-5);
	border-left: 1.25px solid var(--fade-white-5);
}
.glass *:not(button):not(input):not(select):not(textarea) { background: transparent; }
/* Code section */
code, kbd, var, samp {
	margin: 1.25px 0px; padding: 0px 0.5px;
	background-color: var(--clr-pp-grey-300); border: 1.25px solid var(--clr-pp-grey-400); border-radius: 2.5px;
	display: inline-block;
}
code[class*="language-"], code[class*="language-"] * { user-select: text; }
code br, code hr { display: block; }
/* a links */
a[href]:not([role="button"]):link { color: var(--sys-link-clr-1); text-decoration: none; }
a[href]:not([role="button"]):visited { color: var(--sys-link-clr-2); text-decoration: none; }
a[href]:not([role="button"]):hover { color: var(--sys-link-clr-3); text-decoration: underline; }
a[href]:not([role="button"]):active { color: var(--sys-link-clr-4); }
a[href]:not([role="button"]):focus { color: var(--sys-link-clr-5); }
/* Buttons */
input[type="file"] { transform: translate(2.5px, calc(50% - 5px)); }
input[type="file"]:after {
	position: relative; transform: translate(-1px, calc(-100% + 8px));
	min-width: calc(253px - 20px); width: auto; height: auto;
	display: block; content: attr(data-text);
}
input[type="file" i] { color: #0000; }
button[class], [role="button"], input[type="file"]:after, input[type="button"], input[type="submit"], input[type="reset"] {
	margin: 0; padding: 2.5px 10px /*0.5rem 1rem*/;
	border: 1px solid var(--btn-bdc); border-radius: 0.3rem;
	background-color: var(--btn-bgc); color: var(--btn-ntc);
	font-size: 17.5px /*inherit*/ /*1.25rem*/; font-family: "THSarabunNew", "Sarabun", "Open Sans", serif; font-weight: 400;
	/*line-height: 1.5;*/ text-align: center; vertical-align: middle; text-decoration: none;
	cursor: pointer; transition: calc(var(--time-tst-xfast) * 0.5) ease-in-out;
}
button.icon, .icon[role="button"], input.icon[type="file"]:after, input.icon[type="button"], input.icon[type="submit"], input.icon[type="reset"] { display: flex; justify-content: center; align-items: center; gap: 5px; }
button.long, .long[role="button"], input.long[type="file"]:after, input.long[type="button"], input.long[type="submit"], input.long[type="reset"] { justify-content: flex-start; }
a[role="button"] { display: inline-flex; }
button.small, .small[role="button"], input.small[type="file"]:after, input.small[type="button"], input.small[type="submit"], input.small[type="reset"] {
	padding: 0.5px 7.5px;
	height: 30px;
	font-size: 0.8em;
}
button.large, .large[role="button"], input.large[type="file"]:after, input.large[type="button"], input.large[type="submit"], input.large[type="reset"] {
	padding: 5px 12.5px;
	font-size: 1.2em;
}
button.pill, .pill[role="button"], input.pill[type="file"]:after, input.pill[type="button"], input.pill[type="submit"], input.pill[type="reset"] { border-radius: 3em; }
button:hover, [role="button"]:hover, input[type=file]:hover:after, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: var(--btn-hvc); border: 1px solid var(--btn-hbd); }
button:active, [role="button"]:active, input[type=file]:active:after, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active { background-color: var(--btn-abc); border: 1px solid var(--btn-abd); }
button:focus, [role="button"]:focus, input[type=file]:focus:after, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus { background-color: var(--btn-fbc); border: 1px solid var(--btn-fbd); box-shadow: 0px 0px 0px 0.25rem var(--btn-fsc); -webkit-box-shadow: 0px 0px 0px 0.25rem var(--btn-fsc); }
button.hollow, .hollow[role="button"], input.hollow[type="button"], input.hollow[type="submit"], input.hollow[type="reset"] {
	background-color: transparent;
	border: 1px solid var(--btn-bdc);
	color: var(--btn-hvc); text-shadow: 0px 0px 0.125px var(--fade-black-4);
}
button.hollow:hover, .hollow[role="button"]:hover, input.hollow[type="button"]:hover, input.hollow[type="submit"]:hover, input.hollow[type="reset"]:hover { background-color: var(--btn-hbc); }
button.hollow:active, .hollow[role="button"]:active, input.hollow[type="button"]:active, input.hollow[type="submit"]:active, input.hollow[type="reset"]:active { color: var(--btn-abd); }
button.hollow:focus, .hollow[role="button"]:focus, input.hollow[type="button"]:focus, input.hollow[type="submit"]:focus, input.hollow[type="reset"]:focus { box-shadow: 0px 0px 0px 0.1875rem var(--btn-fsc); -webkit-box-shadow: 0px 0px 0px 0.1875rem var(--btn-fsc); }
button.full-x, .full-x[role="button"], input.full-x[type="file"]:after, input.full-x[type="button"], input.full-x[type="submit"], input.full-x[type="reset"] { width: calc(100% - 2px); }
.message {
	padding: 1rem;
	background-color: var(--msg-bgc); color: var(--msg-ctc);
	border: 1px solid var(--msg-bdc); border-radius: 5px /*.25rem*/;
}
@media only screen and (max-width: 768px) {
	button[class], [role="button"], input[type="file"]:after, input[type="button"], input[type="submit"], input[type="reset"] {
		padding: 0.75px 7.5px;
		font-size: 12.5px;
	}
}
/* Ripple click */
.ripple-click { position: relative; overflow: hidden !important; }
.ripple-click span.ripple-effect {
	position: absolute; transform: translate(calc(var(--rpc-x) - 50%), calc(var(--rpc-y) - 50%));
	width: 0px; height: 0px;
	background-color: var(--fade-black-7); border-radius: calc(var(--rpc-s) / 2);
	display: block !important; pointer-events: none;
	transition: width var(--time-tst-fast), height var(--time-tst-fast);
}
.ripple-click:active span.ripple-effect {
	width: var(--rpc-s); height: var(--rpc-s);
	animation: fade_ripple_in var(--time-tst-xfast) linear 1;
	transition: none !important;
}
.ripple-done span.ripple-effect {
	animation: fade_ripple_out var(--time-tst-fast) linear 1;
	transition: none !important;
}
@keyframes fade_ripple_in {
	from { width: 0px; height: 0px; }
	to { width: var(--rpc-s); height: var(--rpc-s); }
}
@keyframes fade_ripple_out {
	from { width: var(--rpc-s); height: var(--rpc-s); opacity: 100%; filter: opacity(1); }
	to { width: var(--rpc-s); height: var(--rpc-s); opacity: 0%; filter: opacity(0); }
}
/* Table */
.table {
	width: calc(100% - 2.5px);
	border: 1.25px solid var(--clr-gg-grey-700);
	white-space: nowrap;
	overflow-x: auto;
}
.table.wrap {
	white-space: normal;
	overflow-x: initial;
}
.table > table {
	min-width: 100%;
	border-collapse: collapse;
}
.table > table thead {
	background-color: #00000008;
	border-bottom: 1.125px solid var(--clr-gg-grey-500);
}
.table > table thead tr th[onClick]:hover { background-image: linear-gradient(to bottom, rgba(0 0 0 / 0.3125), rgba(0 0 0 / 0.0625)); }
.table > table thead tr th[onClick]:active { background-image: linear-gradient(to top, rgba(0 0 0 / 0.3125), rgba(0 0 0 / 0.0625)); }
.table > table tbody { border-top: 1.025px solid var(--clr-gg-grey-500); }
.table > table tr th, .table > table tr td {
	padding: 2.5px 5px;
	border: 0.5px solid var(--clr-gg-grey-300);
}
.table > table tbody tr:nth-of-type(2n+2) td { background-color: #00000005; }
.table > table tbody tr:hover td { background-color: var(--fade-black-8); }
.table > table tr td[center] { text-align: center; justify-content: center; }
.table.extend > table tbody tr:last-child td { border-bottom: 0.75px solid var(--clr-gg-grey-700); }
/* Forced title */
[data-title]:before {
	padding: 7.5px;
	position: absolute; top: -33.5px; left: 50%; transform: translateX(-50%);
	height: 10px;
	background-color: var(--clr-bs-dark); border-radius: 5px; border: 1px solid var(--clr-bs-light);
	box-shadow: 0px 0px 2.5px 2.5px rgba(127, 127, 127, 0.375);
	-webkit-box-shadow: 0px 0px 2.5px 2.5px rgba(127, 127, 127, 0.375);
	color: var(--clr-bs-light); white-space: nowrap;
	opacity: 0%; filter: opacity(0);
	font-size: 12.5px; line-height: 10px; font-family: "Balsamiq Sans", "Sarabun", sans-serif;
	display: block; content: attr(data-title); pointer-events: none;
	transition: opacity calc(var(--time-tst-xfast) / 2.5), filter calc(var(--time-tst-xfast) / 2.5);
}
[data-title]:after {
	position: absolute; top: -12.5px; left: 50%; transform: translateX(-50%) rotate(45deg);
	width: 10px; height: 10px;
	background-color: var(--clr-bs-dark);
	border-right: 1px solid var(--clr-bs-light); border-bottom: 1px solid var(--clr-bs-light);
	box-shadow: 2.25px 2.25px 0.25px 0.75px rgba(127, 127, 127, 0.09375);
	-webkit-box-shadow: 2.25px 2.25px 0.25px 0.75px rgba(127, 127, 127, 0.09375);
	opacity: 0%; filter: opacity(0);
	display: block; content: ""; pointer-events: none;
	transition: opacity calc(var(--time-tst-xfast) / 2.5), filter calc(var(--time-tst-xfast) / 2.5);
}
[data-title]:hover:before, [data-title]:active:before, [data-title]:hover:after, [data-title]:active:after { opacity: 100%; filter: opacity(1); }
@media only screen and (max-width: 768px) {
	[data-title]:before { transform: translateX(calc(-50% - 7.5px)); }
	[data-title]:after { transform: translateX(calc(-50% - 7.5px)) rotate(45deg); }
}
/* Suggestion click */
.suggest-click:before, .suggest-click:after {
	position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;
	border-radius: 50%;
	content: ""; pointer-events: none;
}
.suggest-click:before { animation: suggesting-click-wave 2s 1.3s ease-out infinite; }
.suggest-click:after { animation: suggesting-click-wave 2s 0.8s ease-out infinite; }
@keyframes suggesting-click-wave {
	0% {
		transform: scale(1);
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.30), inset 0px 0px 1px rgba(0, 0, 0, 0.30);
		-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.30), inset 0px 0px 1px rgba(0, 0, 0, 0.30);
	}
	95% {
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0), inset 0px 0px 30px rgba(0, 0, 0, 0);
		-webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0), inset 0px 0px 30px rgba(0, 0, 0, 0);
	}
	100% { transform: scale(2.25); }
}
/* Rainbow background */
.rainbow-bg { background-image: conic-gradient( from 180deg at 50% 50%, rgba(36, 209, 101, .09) 0deg, rgba(226, 214, 54, .09) 55.3deg, rgba(254, 108, 91, .09) 120deg, rgba(204, 60, 203, .09) 165deg, rgba(159, 51, 253, .09) 213.75deg, rgba(24, 117, 243, .09) 288.12deg, rgba(22, 119, 240, .09) 320deg, rgba(36, 209, 101, .09) 360deg ); }
/* Loader */
main .refresh i.material-icons { transform: rotate(135deg); }
main .refresh[disabled] i.material-icons { animation: rotate_refresh-icon 1.5s ease-in-out infinite; }
@keyframes rotate_refresh-icon {
	from {transform: rotate(135deg); }
	to {transform: rotate(-225deg); }
}
main .loading {
	padding: 25px 5px 10px;
	display: flex; justify-content: center;
}
main .loading.small img { height: 20px; }
main .loading img { height: 25px; }
main .loading.medium img { height: 35px; }
main .loading.large img { height: 50px; }
main .loading.huge img { height: 75px; }